html {
    scroll-behavior: smooth;
    background-color: #333;
  }
  
  :target {
    scroll-margin: -1px;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
  }
  
  body a {
    transition: 0.4s ease-in-out;
  }
  
  .navbar {
    background-color: #333;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar a {
    color: white; 
    text-decoration: none; 
    margin: 0 45px;
    font-size: 19px;
  }
  
  .center img {
    width: 200px;
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    height: 300px;
    font-size: 25px;
    background-color: #333;
  }
  
  .column {
    flex: 1;
    padding: 200px;
    padding-top: 50px;
    margin: 0;
    text-align: center;
  }
  
  .column-2 {
    flex: 1;
    padding-top: 50px;
    margin: 0;
    text-align: center;
  }
  
  .first-column {
    padding-left: 290px;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
  }
  
  .first-column-2 {
    padding-left: 200px;
    padding-top: 50px;
    padding-right: 5px;
    text-align: center;
    justify-content: center;
  }
  
  .last-column {
    padding-right: 290px;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
  }
  
  .last-column-2 {
    padding-right: 100px;
    padding-top: 50px;
    padding-left: 100px;
    text-align: center;
    justify-content: center;
  }
  
  .last-column a {
    color: inherit;
  }
  
  .smaller {
    font-size: 20px;
    display: inline;
  }
  
  .sienna-button {
    background-color: sienna;
    color: white;
    width: 120px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .sienna-button:hover {
    background-color: #8B4513; 
  }
  
  a:hover {
    color: orange;
  }
  
  .navbar .left, .navbar .right {
    position: absolute;
  }
  
  .navbar .left {
    left: 5px;
  }
  
  .navbar .right {
    right: 5px;
  }
  
  .navbar .right a {
    margin: 27px;
  }
  
  body {
    background: url(background.jpg) no-repeat;
    background-size: cover;
  }
  
  .form {
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    opacity: 99%;
    margin: auto;
    max-width: 260px;
    padding: 10px 45px 30px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  }
  
  .form p {
    font-size: 15px;
    padding: 1px;
    text-align: center;
  }
  
  .form input {
    outline: 0;
    border-radius: 10px;
    background: #F2F2F2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form input:hover {
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
  }
  
  .form input:focus {
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
  }
  
  .form button {
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    background: #1ADBE5;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
  }
  
  .form button:hover, .form button:active, .form button:focus {
    background-color: #06C5CF;
    transition: all 1s ease 0s;
  }
  
  .form .message {
    margin: 15px 0 0;
    color: #B3B3B3;
    font-size: 12px;
  }
  
  .form .message a {
    color: #06C5CF;
    text-decoration: none;
  }
  
  .restaurant-image {
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    width: 1500px;
    height: 660px;
    background-image: url('images/sushi 13.jpg');
    animation: change 20s infinite ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form2 {
    font-family: "Roboto", sans-serif;
    position: relative;
    max-width: 450px;
    z-index: 1;
    background: #FFFFFF;
    opacity: 99%;
    margin: auto;
    padding: 10px 45px 30px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  }
  .form2 button {
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    background: #1ADBE5;
    width: 100%;
    max-width: 120px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
  }
  .form2 button:hover, .form2 button:active, .form2 button:focus {
    background-color: #06C5CF;
    transition: all 1s ease 0s;
  }
  
  .form2 p {
    font-size: 15px;
    padding: 1px;
    text-align: center;
  }
  
  .form2 textarea {
    outline: 0;
    border-radius: 10px;
    background: #F2F2F2;
    width: 100%;
    max-width: 350px;
    max-height: 300px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form2 textarea:hover {
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
  }
  
  .form2 textarea:focus {
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
  }
  
  @keyframes change {
    0% {
      background-image: url('images/sushi 13.jpg');
    }
    25% {
      background-image: url('images/sushi 12.jpg');
    }
    75% {
      background-image: url('images/sushi 11.jpg');
    }
    100% {
      background-image: url('images/sushi 13.jpg');
    }
  }
